@font-face {
  src: url("./font/Ubuntu-Light.ttf") format("truetype");
  font-family: "Ubuntu";
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url("./font/Ubuntu-Regular.ttf") format("truetype");
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("./font/Ubuntu-Medium.ttf") format("truetype");
  font-family: "Ubuntu";
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url("./font/Ubuntu-Bold.ttf") format("truetype");
  font-family: "Ubuntu";
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url("./font/Ubuntu-LightItalic.ttf") format("truetype");
  font-family: "Ubuntu";
  font-weight: 300;
  font-style: italic;
}

@font-face {
  src: url("./font/Ubuntu-Italic.ttf") format("truetype");
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: italic;
}

@font-face {
  src: url("./font/Ubuntu-MediumItalic.ttf") format("truetype");
  font-family: "Ubuntu";
  font-weight: 500;
  font-style: nitalic;
}

@font-face {
  src: url("./font/Ubuntu-BoldItalic.ttf") format("truetype");
  font-family: "Ubuntu";
  font-weight: 700;
  font-style: italic;
}
